@page
@model razor_pizzeria.Pages.Checkout.CheckOut
@{
    ViewData["Title"] = "CheckOut";
}

<h1>@ViewData["Title"]</h1>

<div>

    <a class="nav-link text-dark" asp-area="" asp-page="/Checkout/ThankYou">Thank You</a>
</div>