@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center ">
    <h1 class="display-4 text-blue-400">Welcome to .NET</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="flex items-center justify-center">
        <img class="" src="~/images/PizzaTime.jpg" alt="pizza-time">
    </div>
</div>
